.spinner-container {
  display: flex;
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center; /* Вертикальне вирівнювання */
  position: fixed; /* Спінер завжди по центру */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Прозоре біле тло */
  z-index: 1000; /* Вищий шар, щоб перекрити інші елементи */
}

.spinner {
  border: 12px solid #f3f3f3; /* Світлий колір */
  border-top: 12px solid #ffb400; /* Основний колір */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
